//@import '../node_modules/bootstrap/scss/bootstrap';


// import vars
@import 'helpers/variables';

@import 'vendors/material-icons';

/// mixins
@import 'helpers/mixins/mixins';
/// placeholders
@import 'helpers/placeholders/placeholders';
/// animations
@import 'helpers/animations';

/// base
@import 'base/typograpy';


@import '../node_modules/bootstrap/scss/functions';
//@import '../node_modules/bootstrap/scss/variables';
@import 'vendors/bootstrap-vars';
@import '../node_modules/bootstrap/scss/mixins';

// Optional
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/code';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/input-group';
@import '../node_modules/bootstrap/scss/jumbotron';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/print';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/utilities';
//@import '../node_modules/bootstrap/scss/root';

/// stripe navigation
@import 'vendors/stripe-navigation';


@import 'base/global';
/// components
@import 'components/grid';
@import 'components/buttons';
@import 'components/nav-bar';
@import 'components/navigation';
@import 'components/icons';
@import 'components/lightbox';

//.#{$prefix}page {
//  padding: $cl-spacing-xl;
//
//  @include media-breakpoint-down(md) {
//    padding: $cl-spacing;
//  }
//}


.container {
  @include media-breakpoint-up(xl) {
    max-width: 1580px;
  }

  @media (min-width: $cl-breaking-point-xxl) {
    max-width: 1920px;
  }
}

@import 'layout/content';
@import 'layout/slider';
@import 'layout/safety';
//@import 'layout/video-block';
@import 'layout/apps-block';
@import 'layout/slider-half-txt';
@import 'layout/_accordion-block.scss';
@import 'layout/footer';

h1 {
  &.#{$prefix}title {
    color: $cl-color;
    font-family: $font-family-bs-semi-bold;
    font-size: 4.2rem;

    @include media-breakpoint-down(md) {
      font-size: 3.2rem;
      //padding-bottom: $cl-spacing-xxl;
    }
  }
}
