.#{$prefix}accordion-block {
  .text-center {
    padding-bottom: $cl-spacing-xxl * 4;

    @media (max-width: $cl-breaking-point-l - 1) {
      padding-bottom: $cl-spacing-xxl * 2;
    }

    h4 {
      color: $primary;

    }
  }

  .row {
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column-reverse;
    }

  }

  .#{$prefix}txt-cont {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .#{$prefix}accordion {
    @include media-breakpoint-up(xl) {
      padding-left: 90px;
    }

    .#{$prefix}accordion-item {
      .#{$prefix}title-holder {
        background-color: $white;
        padding-bottom: $cl-spacing-xl;

        h3 {
          align-items: center;
          cursor: pointer;
          display: flex;
          font-family: $font-family-bs-semi-bold;
          justify-content: space-between;
          margin: 0;
          width: 80%;

          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
      }

      .#{$prefix}body {
        p {
          display: none;
          line-height: 1.5em;
          margin-bottom: 0;
          max-width: 85%;

          @include media-breakpoint-down(sm) {
            max-width: 100%;
          }
        }
      }

      &.#{$prefix}active {
        .#{$prefix}title-holder {
          .#{$prefix}arrow {
            display: none;
          }
        }

        .#{$prefix}body {
          animation: flipdown .5s ease both;

          p {
            display: block;
            padding-bottom: $cl-spacing-xl;
          }
        }
      }
    }
  }
}

.#{$prefix}accordion-img {
  @include media-breakpoint-up(xl) {
    text-align: right;
  }

  @media (max-width: $cl-breaking-point-l - 1) {
    img {
      margin-bottom: $cl-spacing-xxl;
    }
  }

    img {
    @extend %box-shadow-card;
    border-radius: $cl-spacing + $cl-spacing-xs;

    &:not(.#{$prefix}none) {
      animation: zoom-in-out-opacity .5s ease both;
    }
  }
}
