.#{$prefix}our-apps {
  position: relative;
  //
  //&::before {
  //  background-color: $cl-neutral-color;
  //  @include pseudo;
  //  height: 50%;
  //  left: 0;
  //  top: 50%;
  //  width: 100%;
  //  z-index: -1;
  //}

  .#{$prefix}color-cards {
    @media (min-width: $cl-breaking-point-xl) {
      padding: $cl-spacing-xxl ($cl-spacing-xxl * 2);
    }

    @include media-breakpoint-up(xl) {
      padding: $cl-spacing-xxl ($cl-spacing-xxl * 2);
    }

    .#{$prefix}long-arrow {
      margin: $cl-spacing-xxl ($cl-spacing-xxl * 2) 0;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    h4 {
      //@include media-breakpoint-down(md) {
      //  font-size: 4.6rem;
      //}
    }

    p {
      //@include media-breakpoint-down(md) {
      //  font-size: 3.2rem;
      //}
    }

    .row {
      //@extend %box-shadow-boxes;

      > div {
        background-position: 105% 110%;
        background-repeat: no-repeat;
        background-size: 25%;
        color: $white;
        line-height: 2.4em;
        padding: $cl-spacing-xxl ($cl-spacing-xxl * 5) ($cl-spacing-xxl * 1) ($cl-spacing-xxl * 2);
        word-spacing: .1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        cursor: pointer;
        transition: box-shadow 150ms ease-in-out;

        @include media-breakpoint-down(md) {
          padding: $cl-spacing-xxl;
        }

        &:hover {
          @extend %box-shadow-boxes;

          .#{$prefix}long-arrow {
            opacity: 1;
          }
        }

        @include media-breakpoint-up(xl) {
          padding: $cl-spacing-xxl $cl-spacing-xxl ($cl-spacing-xxl * 1);
        }


        &:nth-child(1) {
          background-color: $cl-color;
          background-image: url('#{$img-url}eldimg.svg');

        }

        &:nth-child(2) {
          background-color: $cl-neutral-color;
          background-image: url('#{$img-url}loadimg.svg');
          color: $cl-color;
        }

        &:nth-child(3) {
          background-color: $cl-base-mid-color;
          background-image: url('#{$img-url}truckimg.svg');

          .#{$prefix}long-arrow {
            border-top-color: $white;
            border-left-color: $white;

            &::after {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
