.#{$prefix}content-block {
  padding: ($cl-spacing-xxl * 3) $cl-spacing-xxl ($cl-spacing-xxl * 4);

  @include media-breakpoint-down(md) {
    padding: ($cl-spacing-xxl * 3) $cl-spacing ($cl-spacing-xxl * 4);
  }

  &.#{$prefix}accordion-block {
    @media (max-width: $cl-breaking-point-l - 1) {
      padding: ($cl-spacing-xl * 2) $cl-spacing-xxl ($cl-spacing-xxl * 2);
    }
  }

  &.#{$prefix}eldrider-cont {
    @media (max-width: $cl-breaking-point-l - 1) {
      padding: ($cl-spacing-xl * 2) $cl-spacing-xxl ($cl-spacing-xxl * 4);
    }
  }

  h4,
  h5 {
    //letter-spacing: .1em;
    padding-bottom: $cl-spacing-xl;// * 2;
    //position: relative;

    span {
      font-family: $font-family-bs-semi-bold;
    }
  }

  .text-center {
    padding-bottom: $cl-spacing-xxl;

    h5 {
      color: $primary;
      font-family: $font-family-bs;
      font-size: 2.2rem;
      padding-bottom: $cl-spacing-l;

      //@include media-breakpoint-down(md) {
      //  font-size: 3.8rem;
      //}
    }
  }
}

/// long arrow
@include shape-long-arrow($cls: '#{$prefix}long-arrow', $arrowhead-top-color: $cl-base-mid-color,
                          $arrow-rotate-angle: 135deg, $arrow-body-width: 80px, $arrow-body-x-correction: 1px,
                          $arrow-body-y-correction: 3);