.#{$prefix}footer {
  padding-top: $cl-spacing-xxl * 4;

  .#{$prefix}footer-top {
    padding: 0 90px;

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    &.#{$prefix}with-fake-cont {
      position: relative;

      &::before {
        @include pseudo;
        background-color: $cl-neutral-color;
        height: 50%;
        left: 0;
        top: 50%;
        width: 100%;
        z-index: -1;
      }
    }

    h1 {
      color: $white;
    }

    .#{$prefix}txt-cont {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      h1 {
        padding-bottom: $cl-spacing-xxl;

        //@include media-breakpoint-down(md) {
        //  padding-bottom: $cl-spacing-xxl * 2;
        //}
      }
    }

    &.#{$prefix}img-home {
      .#{$prefix}img-holder {
        @include media-breakpoint-down(md) {
          background-image: url('#{$img-url}mudolino-s.jpg');
        }

        @include media-breakpoint-up(md) {
          background-image: url('#{$img-url}mudolino.jpg');
        }
      }
    }

    &.#{$prefix}img-eldrider {
      .#{$prefix}img-holder {
        @include media-breakpoint-down(md) {
          background-image: url('#{$img-url}doyouhave-s.jpg');
        }

        @include media-breakpoint-up(md) {
          background-image: url('#{$img-url}doyouhave.jpg');
        }
      }
    }

    .#{$prefix}img-holder {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 590px;
      position: relative;
    }
  }

  .#{$prefix}footer-bottom {
    background-color: $cl-neutral-color;
    padding: 60px 8%;

    @include media-breakpoint-down(md) {
      padding: $cl-spacing-xxl $cl-spacing-xxl $cl-spacing;
    }


    h6 {
      font-family: $font-family-bs-semi-bold;
      padding-bottom: $cl-spacing-l;
      padding-top: $cl-spacing;

    }

    a {
      color: $cl-color;
      text-decoration: none;
      font-size: 1.5rem;

      &.#{$prefix}active-link {
        color: $cl-base-mid-color;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        padding: $cl-spacing-xs 0;

          a {
              color: lighten($cl-color, 40);
          }
      }
    }

    .#{$prefix}logo-holder {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .#{$prefix}col-xs-1 {
      &:not(.#{$prefix}logo-holder) {
        @include media-breakpoint-down(lg) {
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }

    .#{$prefix}contact-block {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: $cl-spacing-xxl;
      }

        @include media-breakpoint-down(xs) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

      > div {
        padding-bottom: $cl-spacing-xxl;
          text-align: right;

          @include media-breakpoint-down(xs) {
              text-align: center;
          }
      }

       a {
        color: $cl-base-mid-color;
      }

      .#{$prefix}soc-block {
        a {
          margin-left: $cl-spacing-xl;
        }
      }
    }
  }

  .#{$prefix}copyright-cont {
      background-color: $cl-neutral-color;
      display: flex;
      justify-content: center;
      padding: 0 90px 40px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 0 24px $cl-spacing-xxl;
    }

      &::before {
          @include pseudo;
          height: 1px;
          width: calc(100% - 180px);
          background-color: darken($cl-neutral-color, 5);

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .#{$prefix}copyright {
          font-size: 1.3rem;
          text-align: center;
          color: $cl-color;
          padding-top: $cl-spacing-xxl;
          padding-right: $cl-spacing;

        @include media-breakpoint-down(md) {
          padding-top: $cl-spacing;
        }
      }
  }
}
