.#{$prefix}safety {
  //padding: ($cl-spacing-xxl * 4) $cl-spacing-xxl;

  .text-center {
    h4 {
      color: $primary;

    }
  }

  .#{$prefix}img-holder {
    background-repeat: no-repeat;
    height: 19rem;
    width: 19rem;
  }

  .row {
    @media (min-width: $cl-breaking-point-xl) {
      padding: 0 5%;
    }

    @include media-breakpoint-up(xl) {
      padding: 0 10%;
    }
  }

  &.#{$prefix}about-cont {
    .#{$prefix}cont-img {
      &:nth-child(1) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}driver.svg');
        }
      }

      &:nth-child(2) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}truck2.svg');
        }
      }

      &:nth-child(3) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}dashcam.svg');
        }
      }
    }
  }

  &.#{$prefix}eldrider-cont {
    .#{$prefix}cont-img {
      &:nth-child(1) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}web.svg');
        }
      }

      &:nth-child(2) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}mobile.svg');
        }
      }

      &:nth-child(3) {
        .#{$prefix}img-holder {
          background-image: url('#{$img-url}reports.svg');
        }
      }
    }
  }

  .#{$prefix}cont-img {
    color: $cl-color;
    padding: 0 5%;

    h4 {
      @include cl-underline($height: 3px);
      font-family: $font-family-bs-semi-bold;
      font-size: 2rem;
      letter-spacing: .1em;
      padding-bottom: $cl-spacing-xl * 2;
      position: relative;
    }

    p {
      font-family: $font-family;
      font-size: 1.7rem;
    }
  }

  .#{$prefix}poster {
    img {
      object-fit: contain;
    }
  }

  &.#{$prefix}apps {
    padding: 0 96px ($cl-spacing-xxl * 2);

    @include media-breakpoint-down(md) {
      padding: 0 $cl-spacing ($cl-spacing-xxl * 2);
    }

    .row {
      @media (min-width: $cl-breaking-point-xl) {
        padding: 0;
      }

      @include media-breakpoint-up(xl) {
        padding: 0;
      }
    }

    .#{$prefix}txt-cont {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        margin-bottom: $cl-spacing-xxl;
      }

      p {
        font-size: 1.8rem;
        line-height: 1.8em;
        padding-right: 10%;

        @include media-breakpoint-down(md) {
          font-size: 1.7rem;
          line-height: 1.6em;
          padding-right: 0;
        }
      }
    }
  }
}
