.#{$prefix}slider {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;//calc(100vh - #{$cl-spacing-xl * 2});
  position: relative;

  &.#{$prefix}img-home {
    @include media-breakpoint-down(md) {
      background-image: url('#{$img-url}new-boy2-s.png');
    }

    @include media-breakpoint-up(md) {
      background-image: url('#{$img-url}new-boy2.png');
    }
  }

  &.#{$prefix}img-eldrider,
  &.#{$prefix}img-loadrider {
    background-position: center -10vh;
    background-size: cover;
    min-height: 70vh;

    @media (min-width: $cl-breaking-point-xxl) {
      background-size: 100%;
    }

    .#{$prefix}slider-text {
      @media (max-width: $cl-breaking-point-l - 1) {
        top: 35%;
      }
    }
  }

  &.#{$prefix}img-eldrider {
    @include media-breakpoint-down(md) {
      background-image: url('#{$img-url}slider-eldpage-s.png');
    }

    @include media-breakpoint-up(md) {
      background-image: url('#{$img-url}slider-eldpage.png');
    }
  }

  &.#{$prefix}img-loadrider {
    @include media-breakpoint-down(md) {
      background-image: url('#{$img-url}loadrider-cover-s.png');
    }

    @include media-breakpoint-up(md) {
      background-image: url('#{$img-url}loadrider-cover.png');
    }
  }
}

.#{$prefix}slider-text {
  bottom: 40%;
  color: $white;
  left: 5%;
  position: absolute;

  h1 {
    font-family: $font-family-bs-semi-bold;
    font-size: 6.4rem;

    @include media-breakpoint-down(md) {
      margin-bottom: $cl-spacing-xxl;
      font-size: 4.4rem;
    }
  }

  h2 {
    font-size: 4.4rem;

    @include media-breakpoint-down(md) {
      margin-bottom: $cl-spacing-xxl;
      font-size: 3.6rem;
    }
  }


}

.#{$prefix}slider-cont {
  position: relative;

  .#{$prefix}news-widget {
    position: absolute;
    bottom: -1px;
    right: 0;
    max-width: 300px;

    //@include media-breakpoint-down(md) {
    //  max-width: 50%;
    //}

    .#{$prefix}widget-header {
      height: $cl-spacing-xxl + $cl-spacing-m;

      &::before {
        @include shape-triangle($color: $primary, $top-side: $cl-spacing-xxl, $left-side: $cl-spacing-xxl, $direction: down);
        left: 0;
        top: 30px;
        transform: rotate(-45deg);
      }

      &::after {
        @include pseudo;
        background-color: $white;
        height: 45px;
        width: calc(100% - #{$cl-spacing-xxl + $cl-spacing-m - 1});
        right: 0;
        top: 0;
      }
    }

    .#{$prefix}widget-body {
      background-color: $white;
      padding: 0  $cl-spacing-xxl $cl-spacing-xxl ($cl-spacing-xxl * 2);
    }

    h4 {
      color: $primary;
      line-height: 2.2em;
      font-family: $font-family-bs;
      padding-bottom: $cl-spacing-l;
    }
  }
}
