.#{$prefix}slider-half-txt {
  padding: ($cl-spacing-xxl * 3) ($cl-spacing-xxl * 3) ($cl-spacing-xxl * 4);

  .#{$prefix}slider-cont {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    @include media-breakpoint-up(xl) {
      flex-direction: column;
    }
  }

  .#{$prefix}slide {
    min-height: 500px;
  }

  .#{$prefix}slider-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .#{$prefix}page-counter {
      padding: 0 $cl-spacing-xl;

      span {
        color: $cl-color-light;

        &:first-child {
          color: $primary;
        }
      }
    }

    .btn {
      height: 64px;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }

  .#{$prefix}slider-txt {
    background-color: $cl-neutral-color;
    padding: $cl-spacing-xxl ($cl-spacing-xxl * 3) $cl-spacing-xxl ($cl-spacing-xxl * 2);

    @media (min-width: $cl-breaking-point-xxl) {
      padding: $cl-spacing-xxl ($cl-spacing-xxl * 6) $cl-spacing-xxl ($cl-spacing-xxl * 2);
    }

    &::before,
    &::after {
      @include pseudo;
      background-color: $cl-neutral-color;
      z-index: -1;
    }

    &::before {
      @include media-breakpoint-up(xl) {
        height: calc(100% + 64px);
        left: -128px;
        top: -64px;
        width: calc(100% + 128px);
      }
    }

    &::after {
      @include media-breakpoint-up(xl) {
        height: 10%;
        left: 0;
        top: -10%;
        width: 100%;
      }
    }


    p {
      font-size: 2rem;
      line-height: 1.8em;
    }

    .#{$prefix}title {
      padding-bottom: $cl-spacing-xxl;
    }
  }
}

/// images
.#{$prefix}slide {
  background-repeat: no-repeat;

  @include media-breakpoint-down(md) {
    background-image: url('#{$img-url}donja3-s.jpg');
  }

  @include media-breakpoint-up(md) {
    background-image: url('#{$img-url}donja3.jpg');
  }
}