.#{$prefix}video {
  .row {
    .#{$prefix}text-holder {
      background-color: $cl-neutral-color;
      padding: 2% 5%;
    }

    .#{$prefix}cont-img {
      padding-left: 0;

      //@include media-breakpoint-down(md) {
      //  padding: 0;
      //  height: auto;
      //  min-height: 270px;
      //}

      @include media-breakpoint-up(xl) {
        height: auto;
      }
    }

    h1 {
      padding-bottom: $cl-spacing-xxl;
    }

    p {
      color: $cl-color;
      font-size: $font-size-l;
      line-height: 1.8em;
    }

    .#{$prefix}img {
      height: auto;
      width: 100%;
    }
  }

  .#{$prefix}cont-img {
    background-repeat: no-repeat;
    background-size: auto 200% ;
    height: 60vh;
    position: relative;

    @include media-breakpoint-down(md) {
      background-image: url('#{$img-url}donja-s.jpg');
    }

    @include media-breakpoint-up(md) {
      background-image: url('#{$img-url}donja.jpg');
    }
  }
}
