.#{$prefix}btn {
  &.btn {
    &.btn-lg {
      font-size: 1.8rem;
      padding: $cl-btn-lg-padding-y $cl-btn-lg-padding-x;

      //@include media-breakpoint-down(md) {
      //  font-size: 4.4rem;
      //}
    }
  }
}