/// Custom lightbox
///
.#{$prefix}lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba($black, .6);
    z-index: 9999;
    align-items: center;
    display: flex;
    justify-content: center;

    .#{$prefix}lightbox-mask {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, .6);
        z-index: 9998;
    }

    .#{$prefix}lightbox-content {
        @extend %box-shadow-lightbox;
        position: relative;
        background-color: $white;
        border-radius: $cl-spacing;
        max-height: 90vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        //padding: 0 $cl-spacing-xl $cl-spacing-xl;
        z-index: 9999;

        .#{$prefix}lightbox-header {
            display: flex;
            font-family: $font-family-bs-semi-bold;
            justify-content: flex-end;
            padding: $cl-spacing $cl-spacing-xl;

            .#{$prefix}lightbox-caption {
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h5 {
                    padding: 0;
                    margin: 0
                }
            }
        }

        .#{$prefix}lightbox-img-holder {
            max-height: calc(90vh - 48px);
            padding: 0 $cl-spacing-xl $cl-spacing-xl;

            img {
                width: auto;
                max-height: calc(90vh - 48px);
                object-fit: contain;
                min-width: 60vw;
            }
        }
    }

    .#{$prefix}close {
        background-color: transparent;
        color: $black;
        display: flex;
        justify-content: center;
        height: $cl-spacing-xxl;
        width: $cl-spacing-xxl;
        border: 0;
        outline: 0;

    }
}

.#{$prefix}lightbox-item {
    cursor: pointer;
}
