/// stripe navigation
.cd-morph-dropdown {
  z-index: 9999;
}

.nav-open {
  @media(max-width: $cl-breaking-point-l - 1) {
    //@include media-breakpoint-down(md) {
    z-index: 999;
    transform-style: preserve-3d;
  }

  &::after {
    @media(max-width: $cl-breaking-point-l - 1) {
      //@include media-breakpoint-down(md) {
      @include pseudo;
      top: 0;
      left: 0;
      right: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: - 1;
      background-color: rgba($black, .7);
      transform: translateZ(-1px);
    }
  }

  .morph-dropdown-wrapper {
    @media(max-width: $cl-breaking-point-l - 1) {
      //@include media-breakpoint-down(md) {
      animation: open-menu 300ms;
    }
  }

}


.morph-dropdown-wrapper {
  @media(max-width: $cl-breaking-point-l - 1) {
    //@include media-breakpoint-down(md) {
    position: relative;
    top: 60px !important;
    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.16) !important;
    height: 100vh;

    animation: close-menu 300ms;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    overflow-y: auto;
  }
}


.cd-morph-dropdown {
  .label {
    //@include media-breakpoint-down(md) {
    //  font-size: 3.6rem;
    //}
  }
}


.#{$prefix}header {
  //align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: $cl-st-nav-padding-top ($cl-spacing-xxl * 2);
  position: fixed;
  top: 0;
  transition: all 150ms ease-in-out;
  width: 100%;
  
  @media (max-width: $cl-breaking-point-l - 1) {
    padding: $cl-st-nav-padding-top $cl-spacing-xl;
  }
  

  .#{$prefix}logo-holder {
    align-items: center;
    //display: flex;
    display: none;
    flex-direction: row;
    height: $cl-st-nav-link-height;

    @media (min-width: $cl-breaking-point-l) {
      display: flex;
    }
  }

  .#{$prefix}main-nav {
    a {
      color: $white;
      font-family: $font-family-bs-semi-bold;
      text-decoration: none;

      &:hover {
        @extend a;
        opacity: .6;
      }

      &.#{$prefix}active-link {
        color: $cl-link-active-alt-color;
        opacity: 1;
      }
    }
  }

  &.#{$prefix}header-light {
    @extend %box-shadow-chart-card;
    background-color: $white;

    @media (max-width: $cl-breaking-point-l - 1) {
      padding: 0 $cl-spacing-xl;
    }

    @media (min-width: $cl-breaking-point-l) {
      padding: 0 ($cl-spacing-xxl * 2);
    }

    &.cd-morph-dropdown {
      @include MQ(L) {
        &.is-dropdown-visible {
          .morph-dropdown-wrapper {
            top: ($cl-st-nav-link-height - 2);// + $cl-st-nav-dropdown-correction;
          }
        }
      }
    }

    .#{$prefix}main-nav {
      ul {
        li {
          a {
            color: $cl-color;

            &.#{$prefix}active-link {
              color: $cl-link-active-color;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.#{$prefix}mobile-logo-holder {
  align-items: center;
  display: flex;

  @media (min-width: $cl-breaking-point-l) {
    display: none;
  }
}


.cd-morph-dropdown {
  .features {
    .content {
      min-width: 450px;

      li {
        margin-bottom: 1.4em;

        //$cl-st-nav-icon-holder-color1: #f4e58a;
        //$cl-st-nav-icon-holder-color2: #f4af6d;
        //$cl-st-nav-icon-holder-color3: #db6356;
        //$cl-st-nav-icon-holder-color4: #8d4645;


        &:nth-of-type(1) {
          a {
            &::before {
              background-image: url('#{$img-url}eldimg.svg');
              //background-color: $cl-st-nav-icon-holder-color1;
            }
          }
        }

        &:nth-of-type(2) {
          a {
            &::before {
              background-image: url('#{$img-url}loadimg.svg');
              //background-color: $cl-st-nav-icon-holder-color2;
            }
          }
        }

        &:nth-of-type(3) {
          a {
            &::before {
              background-image: url('#{$img-url}truckimg.svg');
              //background-color: $cl-st-nav-icon-holder-color3;
            }
          }
        }
      }

      a {
        display: block;

        &::before {
          // icon on the left
          //border-radius: 50%;
          content: '';
          display: inline-block;
          float: left;
          height: 54px;
          margin-right: .6em;
          transition: background .2s;
          width: 54px;
        }

        span,
        em {
          display: block;
          line-height: 1.2;
        }

        em {
          font-size: 1.8rem;
          padding: 1em 0 .2em;//.4em 0 .2em;
          color: $color-1;
        }

        span {
          font-size: 1.4rem;
          color: shade($color-3, 35%);
        }

        //&:hover {
        //  &::before {
        //    background-color: $color-1;
        //  }
        //}
      }
    }
  }
}
