.#{$prefix}main-navbar {
  transition: all 150ms ease-in-out;

  &.navbar {
    padding: ($cl-spacing-xxl * 1.5) ($cl-spacing-xxl * 3) $cl-spacing-xxl;
  }

  .navbar-nav {
    justify-content: space-between;
    min-width: 50rem;

    .nav-item {
      .nav-link {
        color: $white;
        font-family: $font-family;//-bs-semi-bold;
        font-size: $font-size-m;
        transition: color 150ms ease-in-out;
      }

      &.active {
        .nav-link {
          color: $white;
        }
      }
    }
  }

  &.#{$prefix}nav-light {
    @extend %box-shadow-chart-card;
    background-color: $white;

    &.navbar {
      padding: $cl-spacing-l ($cl-spacing-xxl * 3);
    }

    .nav-item {
      .nav-link {
        color: $cl-color;
      }

      &.active {
        .nav-link {
          color: $cl-color;
        }
      }
    }
  }

  //&.navbar-light {
  //  .navbar-toggler {
  //    border-color: $white;
  //    color: $white;
  //
  //    .navbar-toggler-icon {
  //
  //    }
  //  }
  //}
}