html {
  @include font-size-rem($size: 10, $base: 16);

  @media(max-width: $cl-breaking-point-l - 1) {
    //font-size: 1rem;
    //font-size: 1.8vw;
  }
}

body {
  font-size: 1.6rem;
  font-family: $font-family;

  //@include media-breakpoint-down(md) {
  //  font-size: 2.4rem;
  //}
}

h4 {
  //@include media-breakpoint-down(md) {
  //  font-size: 3.6rem;
  //}
}

.#{$prefix}none {
  display: none;
}

.#{$prefix}hide {
  visibility: hidden;
}