/// Font face Roboto Regular
@include font-face-ttf($font-name: $font-family);

/// Font face BioSans-Regular
@include font-face-otf($font-name: $font-family-bs);
/// Font face BioSans-ExtraLight
@include font-face-otf($font-name: $font-family-bs-extra-light);
/// Font face BioSans-Light
@include font-face-otf($font-name: $font-family-bs-light);
/// Font face BioSans-SemiBold
@include font-face-otf($font-name: $font-family-bs-semi-bold);
/// Font face BioSans-ExtraBold
@include font-face-otf($font-name: $font-family-bs-extra-bold);
