/// Font face TTF
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {String} $font-name - font family name
/// @param {String} $file-name [$font-name] - fonts files name
/// @param {String} $path [null] => [$font-name + $font-folder  + $file-name] - fonts file path with name and extensions
/// @param {String} $weight [normal] - font weight
/// @param {String} $style [normal] - font style
/// @param {String} $style [null] - font folder
///
$font-path: $font-url;
@mixin font-face-ttf(
  $font-name: 'test',
  $font-folder: null,
  $file-name: $font-name,
  $path: null,
  $weight: normal,
  $style: normal
) {
  @if($path == null) {
    @if($font-folder == null) {
      $path: $font-path + $font-name;
    } @else {
      $path: $font-path + $font-folder + '/' + $font-name;
    }
  }

  @font-face {
    //font-family: quote($font-name);
    font-family: $font-name;
    src: url($path + '.ttf');
    src: url($path + '.ttf') format('truetype');
    font-style: $style;
    font-weight: $weight;
  }
}


/// Font face OTF
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {String} $font-name - font family name
/// @param {String} $file-name [$font-name] - fonts files name
/// @param {String} $path [null] => [$font-name + $font-folder  + $file-name] - fonts file path with name and extensions
/// @param {String} $weight [normal] - font weight
/// @param {String} $style [normal] - font style
/// @param {String} $style [null] - font folder
///
$font-path: $font-url;
@mixin font-face-otf(
  $font-name: 'test',
  $font-folder: null,
  $file-name: $font-name,
  $path: null,
  $weight: normal,
  $style: normal
) {
  @if($path == null) {
    @if($font-folder == null) {
      $path: $font-path + $font-name;
    } @else {
      $path: $font-path + $font-folder  + '/'  +  $font-name;
    }
  }

  @font-face {
    //font-family: quote($font-name);
    font-family: $font-name;
    src: url($path + '.otf');
    font-style: $style;
    font-weight: $weight;
  }
}
