/// Custom bootstrap grid system
/// Useses bootstaps mixin for generatin breaking points
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $range-start [1] - start number of breaking points
/// @param {Number} $range-end [12] - end number of breaking points
/// @param {$breaking-point-list} [xs, sm, md, lg, xl] - bootstrap breaking point list
///
@mixin custom-grid-bootstrap-system($range-start: 1, $range-end: 12) {
  @for $i from $range-start to $range-end + 1 {
    .#{$prefix}col-#{$i} {
      flex: 0 0 (100% / $i);
      max-width: 100%  / $i;
    }
  }

  $breaking-point-list: xs, sm, md, lg, xl;

  @each $breaking-point in $breaking-point-list {
    @for $i from $range-start to $range-end + 1 {
      .#{$prefix}col-#{$breaking-point}-#{$i} {
        @include media-breakpoint-up($breaking-point) {
          flex: 0 0 (100% / $i);
          max-width: 100%  / $i;
        }
      }
    }
  }
}
