/// Pseudo
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {String} $display [block] - css display
/// @param {String} $pos [absolute] - css position
/// @param {String} $content [''] - css content
///
@mixin pseudo(
  $display: block,
  $pos: absolute,
  $content: ''
) {
  content: $content;
  display: $display;
  position: $pos;
}

/// Clearfix
///
/// @group mixins
/// @author Milan Guzvic
///
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/// Opacity legacy
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $opacity [1] - opacity level
///
@mixin opacity-legacy($opacity: 1) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie); //IE8
}

/// Font size rem units with pixel fallback
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $size [16] - font size (without px example: 12)
/// @param {Number} $base [16] - font size (without px example: 12)
///
@mixin font-size-rem(
  $size: 16,
  $base: 16
) {
  font-size: $size + px; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}

/// Under line
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Color} $color [$primar] - line color
/// @param {Number} $height [2px] - line height
/// @param {Number} $width [32px] - line width
/// @param {Number} $bottom [$cl-spacing-xl] - Bottom position
/// @param {Numbe} $left [0] - Left position
///
@mixin cl-underline(
  $color: $primary,
  $height: 2px,
  $width: 32px,
  $left: 0,
  $bottom: $cl-spacing-xl
) {
  &::after {
    @include pseudo;
    background-color: $color;
    height: $height;
    width: $width;
    left: $left;
    bottom: $bottom;
  }
}

/// imports
@import 'fonts';

@import 'responsive-ratio';
@import 'shapes';
@import 'grid';