/// Responsive ratio for creating scalable elements (1:1, 3:4, 16:9...)prin
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $x [1] - First value
/// @param {Number} $y [1] - Second value;
/// @param {String} $content - css content
/// @param {Boolean} $pseudo [false] - using pseudo element
///
@mixin responsive-ratio(
  $x: 1,
  $y: 1,
  $pseudo: false
) {
  $padding: unquote(($y / $x) * 100 + '%');
  @if $pseudo {
    &::before {
      @include pseudo($pos: relative);
      padding-top: $padding;
      width: 100%;
    }
  } @else {
    padding-top: $padding;
  }
}
