/// Equilateral triangle
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Color} $color [#000] - shape color
/// @param {String} $direction [up] - shape direction
/// @param {Number} $size [8px] - shape size
/// @param {String} $position [absolute] - css position
/// @param {Boolean} $round [false] - radius switch
/// @param {Number} $border-radius [4px] - radius size (
///
@mixin shape-triangle-equilateral(
  $color: #000,
  $direction: up,
  $size: 8px,
  $position: absolute,
  $round: false,
  $border-radius: 4px
){
  @include pseudo($pos: $position);
  height: 0;
  width: 0;

  @if $round {
    border-radius: $border-radius;
  }

  @if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round($size / 2.5);
  } @else if ($direction == up) {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    margin-bottom: 0 - round($size / 2.5);
  } @else if ($direction == right) {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
    margin-right: -$size;
  } @else if  ($direction == left) {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
    margin-left: -$size;
  }
}

/// Triangle
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Color} $color [#000] - shape color
/// @param {String} $direction [up] - shape direction
/// @param {Number} $top-side [8px] - top side size
/// @param {Number} $left-side [$top-side] - left side size
/// @param {Number} $right-side [$top-side] - right side size
/// @param {String} $position [absolute] - css position
/// @param {Boolean} $round [false] - radius switch
/// @param {Number} $border-radius [4px] - radius size (
///
@mixin shape-triangle(
  $color: #000,
  $direction: up,
  $top-side: 8px,
  $left-side: $top-side,
  $right-side: $top-side,
  $position: absolute,
  $round: false,
  $border-radius: 4px
){
  @include pseudo($pos: $position);
  height: 0;
  width: 0;

  @if $round {
    border-radius: $border-radius;
  }

  @if ($direction == down) {
    border-left: $left-side solid transparent;
    border-right: $right-side solid transparent;
    border-top: $top-side solid $color;
    margin-top: 0 - round($top-side / 2.5);
  } @else if ($direction == up) {
    border-bottom: $top-side solid $color;
    border-left: $left-side solid transparent;
    border-right: $right-side solid transparent;
    margin-bottom: 0 - round($top-side / 2.5);
  } @else if ($direction == right) {
    border-bottom: $top-side solid transparent;
    border-left: $left-side solid $color;
    border-top: $right-side solid transparent;
    margin-right: -$top-side;
  } @else if  ($direction == left) {
    border-bottom: $right-side solid transparent;
    border-right: $top-side solid $color;
    border-top: $left-side solid transparent;
    margin-left: -$right-side;
  }
}


/// Square
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $size [10px] - shape size
/// @param {Color} $bgcolor [#000] - shape color
/// @param {Number} $border-width [0] - border width, default no border
/// @param {Color} $border-color [#000] - border color
/// @param {String} $border-style [solid] - border style
///
@mixin shape-square(
  $size: 10px,
  $bgcolor: #000,
  $border-width: 0,
  $border-color: #000,
  $border-style: solid
) {
  background-color: $bgcolor;
  height: $size;
  width: $size;
  @if $border-width != 0 {
    border: $border-width $border-style $border-color;
  }
}

/// Rectangle
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $height [10px] - shape height
/// @param {Number} $width [20px] - shape width
/// @param {Color} $bgcolor [#000] - shape color
/// @param {Number} $border-width [0] - border width, default no border
/// @param {Color} $border-color [#000] - border color
/// @param {String} $border-style [solid] - border style
///
@mixin shape-rectangle(
  $height: 10px,
  $width: 20px,
  $bgcolor: #000,
  $border-width: 0,
  $border-color: #000,
  $border-style: solid
) {
  background-color: $bgcolor;
  height: $height;
  width: $width;
  @if $border-width != 0 {
    border: $border-width $border-style $border-color;
  }
}

/// Circle
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $size [10px] - shape height
/// @param {Color} $bgcolor [#000] - shape color
/// @param {Number} $border-width [0] - border width, default no border
/// @param {Color} $border-color [#000] - border color
/// @param {String} $border-style [solid] - border style
///
@mixin shape-circle(
  $size: 10px,
  $bgcolor: #000,
  $border-width: 0,
  $border-color: #000,
  $border-style: solid
) {
  background-color: $bgcolor;
  border-radius: 50%;
  height: $size;
  width: $size;
  @if $border-width != 0 {
    border: $border-width $border-style $border-color;
  }
}

/// Oval
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {Number} $height [10px] - shape height
/// @param {Number} $width [20px] - shape width
/// @param {Color} $bgcolor [#000] - shape color
/// @param {Number} $border-width [0] - border width, default no border
/// @param {Color} $border-color [#000] - border color
/// @param {String} $border-style [solid] - border style
///
@mixin shape-oval(
  $height: 10px,
  $width: 20px,
  $bgcolor: #000,
  $border-width: 0,
  $border-color: #000,
  $border-style: solid
) {
  background-color: $bgcolor;
  height: $height;
  width: $width;
  @if $border-width != 0 {
    border: $border-width $border-style $border-color;
    border-radius: (#{$width / 2 + $border-width}) / (#{$height / 2 + $border-width});
  } @else {
    border-radius: (#{$width / 2}) / #{$height / 2};
  }
}

/// Long Arrow
///
/// @group mixins
/// @author Milan Guzvic
///
/// @param {String} $cls [null] - arrow css class
/// @param {Number} $arrowhead-top-height [2px] - arrowhead top thicknes
/// @param {Color} $arrowhead-top-color [$black] - arrowhead top color
/// @param {String} $arrowhead-top-line-style [solid] - arrowhead top line type (border styles)
/// @param {Number} $arrowhead-top-width [25px] - arrowhead top width
/// @param {Number} $arrowhead-bottom-height [$arrowhead-top-height] - arrowhead bottom thicknes
/// @param {Color} $arrowhead-bottom-color [$arrowhead-top-color] - arrowhead bottom color
/// @param {String} $arrowhead-bottom-line-style [$arrowhead-top-line-style] - arrowhead bottom line type (border styles)
/// @param {Number} $arrowhead-bottom-width [$arrowhead-top-width] - arrowhead bottom width
/// @param {Color} $arrow-body-color [$arrowhead-top-color] - arrow body color
/// @param {Number} $arrow-body-width [45] - arrow body width
/// @param {Number} $arrow-body-height [2] - arrow body height
/// @param {Number} $arrow-rotate-angle [null] - arrow rotation in deg
/// @param {Number} $arrow-body-x-correction [0] - arrow body x correction
/// @param {Number} $arrow-body-y-correction [0] - arrow body y correction
/// @param {String/Number} $arrow-margin [auto] - arrow margin

/// @param @content - custom style
///
@mixin shape-long-arrow(
  $cls: null, //'eld-long-arrow',
  $arrowhead-top-height: 2px,
  $arrowhead-top-color: $black,
  $arrowhead-top-line-style: solid,
  $arrowhead-top-width: 25px,
  $arrowhead-bottom-height: $arrowhead-top-height,
  $arrowhead-bottom-color: $arrowhead-top-color,
  $arrowhead-bottom-line-style: $arrowhead-top-line-style,
  $arrowhead-bottom-width: $arrowhead-top-width,
  $arrow-body-color: $arrowhead-top-color,
  $arrow-body-height: 2px,
  $arrow-body-width: 45px,
  $arrow-rotate-angle: null,
  $arrow-body-x-correction: 0,
  $arrow-body-y-correction: 0,
  $arrow-margin: auto
) {
  @if($cls != null) {
    .#{$cls} {
      display: block;
      margin: $arrow-margin;
      width: $arrowhead-top-width;
      height: $arrowhead-bottom-width;
      border-top: $arrowhead-top-height $arrowhead-top-line-style $arrowhead-top-color;
      border-left: $arrowhead-bottom-height $arrowhead-bottom-line-style $arrowhead-bottom-color;

      @if($arrow-rotate-angle != null) {
        transform: rotate($arrow-rotate-angle);
      }

      &::after {
        content: "";
        display: block;
        width: $arrow-body-height;
        height: $arrow-body-width;
        background-color: $arrow-body-color;
        transform: rotate(-45deg) translate(#{($arrow-body-width / 3) + $arrow-body-x-correction}, #{($arrow-body-width / 10 ) + $arrow-body-y-correction});
        left: 0;
        top: 0;
      }

      @content;
    }
  } @else {
    display: block;
    margin: 30px auto;
    width: $arrowhead-top-width;
    height: $arrowhead-bottom-width;
    border-top: $arrowhead-top-height $arrowhead-top-line-style $arrowhead-top-color;
    border-left: $arrowhead-bottom-height $arrowhead-bottom-line-style $arrowhead-bottom-color;

    @if($arrow-rotate-angle != null) {
      transform: rotate($arrow-rotate-angle);
    }

    &::after {
      content: "";
      display: block;
      width: 2px;
      height: $arrow-body-width;
      background-color: $arrow-body-color;
      transform: rotate(-45deg) translate(#{$arrow-body-width / 3}, #{$arrow-body-width / 10});
      left: 0;
      top: 0;
    }

    @content;
  }
}
