/// Box custom box shadows
///
/// @group placeholders
///
%box-shadow-card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .16);
}

/// Charts custom box shadows
///
/// @group placeholders
///
%box-shadow-chart-card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .16);
}

%box-shadow-boxes {
  box-shadow:0 52px 35px -16px rgba(160, 170, 185, .67);
}

%box-shadow-lightbox {
  box-shadow: 0 8px 16px 8px rgba(0, 0, 0, .8);
}
