@keyframes open-menu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes close-menu {
  from {transform: translateX(0);}
  to {
    transform: translateX(100%);
    visibility: hidden;
  }
}


@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}



@keyframes zoom-in-out-opacity {
  0% {
    opacity: 0;
    transform: scale(.8);
    //transform: translate3d(20px, 20px, 2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    //transform: translate3d(0,0,0,);
  }
}