$prefix: 'eld-' !default;

$img-url: '../images/' !default;
$font-url: '../fonts/' !default;

$font-family: 'Roboto-Regular' !default;

$font-family-bs: 'BioSans-Regular' !default;
$font-family-bs-extra-light: 'BioSans-ExtraLight' !default;
$font-family-bs-light: 'BioSans-Light' !default;
$font-family-bs-semi-bold: 'BioSans-SemiBold' !default;
$font-family-bs-extra-bold: 'BioSans-ExtraBold' !default;

$font-size: 1.6rem !default;
$font-size-m: 1.4rem !default;
$font-size-s: 1.2rem !default;
$font-size-l: 2rem !default;

$black: #000 !default;
$white: #fff !default;

$cl-color: #161616 !default;
$cl-color-light: #aaa !default;

$cl-neutral-color: #eef1f5 !default;

$cl-base-mid-color: #2f76ff !default;

$cl-link-active-color: #2f77ff !default;
$cl-link-active-alt-color: #5e96ff !default;

$cl-spacing-xs: 4px !default;
$cl-spacing-s: 6px !default;
$cl-spacing: 8px !default;
$cl-spacing-m: 12px !default;
$cl-spacing-l: 16px !default;
$cl-spacing-xl: 24px !default;
$cl-spacing-xxl: 32px !default;

//$cl-btn-padding-x:
//$cl-btn-padding-y:

$cl-btn-lg-padding-x: 3rem !default;
$cl-btn-lg-padding-y: 1rem !default;

$cl-st-nav-link-height: 70px !default;
$cl-st-nav-padding-top: $cl-spacing-xxl !default;

// breaking points
$cl-breaking-point-xxl: 1600px !default;
$cl-breaking-point-xl: 1140px !default;
$cl-breaking-point-l: 1000px !default;
